<div class="finalize_order" ng-controller="finalizeOrderController">
    <div class="form">
        <h1>Formularz</h1>
        <form name="orderForm" novalidate>
            <p>
                <input type="text" name="street" ng-model="form.street" placeholder="Nazwa ulicy" required>
                <div ng-show="orderForm.street.$invalid" class="bubble">Nazwa ulicy jest wymagana!</div>
            </p>            
    
            <p>
                <input type="text" name="phone" ng-model="form.phone" ng-change="phoneNumberValidation()" placeholder="Numer telefonu" required>
                <div ng-show="orderForm.phone.$invalid || !validOrder" class="bubble">Numer telefonu jest wymagany!</div>
            </p>            

            <p>
                <textarea name="remarks" ng-model="form.remarks" placeholder="Uwagi"></textarea>
            </p>
        </form>
    </div>
    <div class="basket_read_only">
        <h1>Koszyk</h1>
            <ul>
                <li ng-repeat = "position in basket">
                <p>{{position.count}}x {{position.name}} - {{position.price}} zł</p>
            </ul>
            <p>Suma: {{total}} zł</p>
    </div>
    <div class="buttongroup">    
        <button id="backButton" ng-click=goToMain()>Wróć</button>
        <button id="orderButton" ng-disabled="form.$invalid || !validOrder" ng-click="postOrder()">Zamów</button>
    </div>
    <div ng-show="postFailed">Nieprawidłowe zamówienie</div>
</div>
