<div class="main_page" ng-controller="mainController">
    <div class="menu">        
        <ul>
            <li ng-repeat = "position in menu">
            <p>{{position.name}}</p>
            <p><span ng-repeat = "ingredient in position.ingredients track by $index">{{ingredient}} </span></p>
            <p>{{position.price.toFixed(2)}} zł</p>
            <div class="container">           
                <p class="amount">Ilość:<input type="number" min="1" ng-model="position.count" /></p>
                <div class="buttongroup">
                    <button ng-click="addPizzaToOrder(position.id, position.name, position.count, position.price)">Do koszyka</button>
                    <button ng-click="instantOrder()">Zamów teraz!</button>
                </div>
            </div>        
        </ul>
    </div>
    <div class="scroll">
        <div class="basket">
            <h1>Basket</h1>
            <ul>
                <li ng-repeat = "position in basket">
                <p><input type="number" min="1" ng-model="position.count" ng-change=sumTotal() placeholder="{{position.count}}" /> {{position.name}} - {{position.price}} zł <button id="{{position.name}}" ng-click="removePizzaFromOrder(position)">Usuń</button></p>
            </ul>
            <p>Suma: {{total}} zł</p>
            <button class="continue" ng-click=goToFinalizeOrder()>Dalej</button>
         </div>
    </div>
</div>
